// Load the base configuration
//exec default.cfg

// Run a user script file if present
exec autoexec.cfg

// Stuff command line statements
stuffcmds

// Display the startup level (this breaks for some reason dont uncomment)
//startupmenu

// Apply HUD settings
cl_hud_minmode 0 // minmode isnt supported yet!!
vgui_cache_res_files 1 // change this to 0 to make HUD editing easier
